* {
  color:#ffffff;
  background-color:#000000;
}

#innerTitle{
  font-family:'Days One',serif;
  font-size:250%;
  margin-top:10vh;
  margin-left:30vw;
}

#comingSoon{
  font-family:serif;
  font-size:150%;
  margin-top:60vh;
  margin-left:60vw;
  animation:fadeIn 5s;
}

@keyframes fadeIn{
  0%{color:#000000;}
  40%{color:#000000;}
  100%{color:#ffffff;}
}
